{% extends 'panel/panelLayout.html.twig' %}
{% block panelContent %}


        {% if app.request.hasPreviousSession %}
            {% include 'template/flashMsg.html.twig' %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}