{% extends 'base.html.twig' %}
{% block content %}

    <div class="sidenav">
        <div class="menu-top">{{ 'panel.title'|trans({}, 'controller') }}</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu"></i>
        <div  class="menu-list">
            {{ print_panel_menu() }}
        </div>
    </div>
    <div id="main">
    <div id="wrapper" class="container-fluid">

    {% block panelContent %}
        {% endblock %}
    </div>
    </div>
{% endblock %}