{% extends 'front/frontLayout.html.twig' %}
{% block frontContent %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>O nas</h1>
        </div>
    </div>
    <div id="main" class="container">
        <article>
            <p>Quisque id cursus dolor. Donec ut felis at mauris ultrices aliquam ornare eu orci. Cras pellentesque tristique nisl at interdum. In pulvinar commodo eros. Pellentesque vitae ipsum molestie, fringilla risus eget, pretium eros. Nullam euismod dolor id eros lacinia, quis pellentesque ante varius. Mauris ac eleifend diam, rhoncus maximus justo. Curabitur dapibus erat justo, vel rutrum lectus facilisis sit amet. Vestibulum quis dolor lectus. Nullam suscipit tortor luctus nibh congue elementum. Nunc risus mauris, congue a nisi sed, porta vulputate nunc. Maecenas eu interdum tortor, ac scelerisque sem. Praesent vel consequat nunc, at maximus nisl.</p>
            <p>Ut pellentesque sapien lacus, ut rutrum nisi finibus nec. Morbi et mattis erat. Praesent ultricies tincidunt pellentesque. Etiam sollicitudin turpis turpis, in sodales magna tempus vel. Aliquam eu gravida leo, ac laoreet dolor. Etiam ullamcorper lobortis viverra. Nam non lacinia mi, non vulputate sapien. Praesent porta at elit quis molestie. Nullam ac efficitur elit. Praesent et commodo lectus. Etiam sit amet enim augue. Etiam in leo id urna pellentesque elementum eget et metus. Nulla id mollis est. In facilisis tortor odio, ut posuere tellus placerat vel. Curabitur ex dolor, porta a maximus vitae, pharetra quis sem. Nullam nisi nulla, porttitor a est at, volutpat convallis enim.</p>
            <p>Nam porta vestibulum mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum, nunc nec hendrerit egestas, sapien mi mattis magna, at vehicula metus leo sit amet ipsum. Praesent pretium gravida felis nec tincidunt. Donec semper magna placerat felis aliquet, vulputate varius ex aliquam. Quisque scelerisque nec turpis quis ullamcorper. Nulla facilisi. Vivamus molestie lacinia quam, vitae condimentum urna finibus sed. Duis nisi ligula, lacinia nec feugiat non, faucibus ac lacus. Ut in felis leo. Nunc pharetra nulla et augue dignissim faucibus. Integer condimentum quam et metus aliquam, et ultricies lectus cursus. Quisque porta leo eu egestas tincidunt. Phasellus eget convallis ipsum. Phasellus quis iaculis mi, at maximus dolor. Donec in nisl nec risus euismod posuere.</p>
        </article>
    </div>
{% endblock %}

