{% extends 'front/frontLayout.html.twig' %}
{% block title %}
    {{ 'front.title.contact'|trans({}, 'controller') }}
{% endblock %}
{% block frontContent %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1>{{ 'front.title.contact'|trans({}, 'controller') }}</h1>
        </div>
    </div>
    {% include 'template/flashMsg.html.twig' %}
    <div id="main" class="container">
        <div class="row vdivide-light">
            <div class="col-lg-6">
{{ form(form) }}
            </div>
            <div class="col-lg-6">
                map map map map map map map
            </div>

        </div>
    </div>
{% endblock %}

