{% extends 'base.html.twig' %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
{{ print_front_menu() }}
            <div class="vr navbar-link"></div>
            <div class="navbar-nav">
                <a class="nav-item nav-link navbar-link" href="{{ path('fos_user_security_login') }}"><span class="fas fa-user"></span> Zaloguj się</a>
                <a class="nav-item nav-link navbar-link" href="{{ path('fos_user_registration_register') }}"><span class="fas fa-user-plus"></span> Rejestracja</a>
            </div>
        </div>
    </nav>
    {% block frontContent %}
        {% endblock frontContent %}
{% endblock %}
