{% extends 'admin/adminlLayout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/map/google-map-api.js') }}"></script>#}
{% endblock javascripts %}

{% block panelContent %}
    {% include 'template/flashMsg.html.twig' %}
    <div class="row bg-white pt-3">
    {% if app.request.get('_route') == 'admin_post_create' %}
        <div class="col-lg-9 float-left">
            <h3>Create post</h3>
        </div>
        <div class="col-lg-3">
        </div>
        {% else %}
            <div class="col-lg-9 float-left">
                <h3>Edit post</h3>
            </div>
            <div class="col-lg-3">
                <a href="{{ path('admin_post_delete', {"slug": post.slug}) }}" class="btn btn-warning">Delete post</a>
            </div>
        {% endif %}
    </div>
    <div class="link bg-white">
        <div class="row text-center">
            <div class="col-lg-12">
                {{ form(form) }}
                </div>
            </div>
        </div>

{% endblock %}